{
  "presets": [
    [
      "@babel/env",
      {
        // "useBuiltIns": "usage",
        // "corejs": 3,
        // "shippedProposals": true,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie < 10"]
          // "ie": 10
        }
      }
    ],
    ["@babel/typescript"]
  ],
  "plugins": [["@babel/plugin-transform-runtime", { "corejs": 3 }]]
}
